
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/books.css">
    <title>Detail</title>
</head>
<body>

    <h1><%= (typeof genre === 'undefined') ? 'Searched' : genre %> Books</h1>

     <div class="book-detail">
      <% for(const book of books){%>
  <div class="book-content">
    <img 
      src="<%=book.image_url %>" 
      alt="book image" class="book-content-img"  data-id="<%= book.id %>">

  </div>
<% } %>
     </div>
    

     <script>
        document.body.addEventListener("click",(e)=>{
            if(e.target.classList.contains("book-content-img")){
             window.location.href=`/book/${e.target.dataset.id}`;

            }
        })
     </script>
  

</body>
</html>