<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/BookAddForm.css">
    <title>Add a New Book</title>
</head>
<body>


    
    <div class="add-form-container">
        <form action="/newBook/add"  method="post">
            <h1>Add a new Book</h1>
            <label for="title">Title</label>
            <input type="text"  name="title"  id="title" required>
            <label for="author">Author</label>
            <input type="text"  name="author"  id="author" required>
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
            <label for="genre">Genre</label>
            <input type="text"  name="genre" id="genre" required>
            <label for="image">Image URL</label  >
            <input type="text" name="image_url" id="image" required>
            <label for="preview-link">Preview Link</label  >
            <input type="text" name="preview_link" id="preview-link"  required>
            <button type="submit">Submit</button>
        
        </form>
    </div>
</body>
</html>