<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>Document</title>
</head>
<body>

    <div class="form-container">

        <form action="/search" method="post">
        <h4>Search </h4>
        <label for="book-title">Book Title</label>
        <input type="text" id="book-title" name="title" placeholder="Enter book title">
        <label for="book-author">Author</label>
        <input type="text" id="book-author" name="author"  placeholder="Enter book author">
        <button>Apply</button>
        </form>

    </div>
    
</body>
</html>