<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">Bookworm’s <br> Hub </div>

        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/books">My Inventry</a></li>
           <li><a href="/fav">Fav Books</a></li>
           <li><a href="/newBook">New Books</a></li>
        </ul>

         <img src="search.png" alt="search icon"  class="search-btn">

         <%-include("genre") %>
    </header>


    <script>
        document.querySelector(".search-btn").addEventListener("click",(e)=>{
             window.location.href=`/search`;
        })
    </script>
</body>
</html>